<article class="descripcion">
  <h2 class="mt-0">
    Descripción
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam maxime voluptatibus sint, mollitia 
    eveniet nesciunt architecto sit explicabo fuga facilis hic deleniti quam velit nisi, minus dolores deserunt 
    praesentium accusamus.
  </p>
</article>

<article class="ejemplos">
  <h2>
    Ejemplos
  </h2>
    <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam maxime voluptatibus sint, mollitia 
    eveniet nesciunt architecto sit explicabo fuga facilis hic deleniti quam velit nisi, minus dolores deserunt 
    praesentium accusamus.
  </p>
</article>

<article class="notas">
  <h2>
    Notas
  </h2>
    <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam maxime voluptatibus sint, mollitia 
    eveniet nesciunt architecto sit explicabo fuga facilis hic deleniti quam velit nisi, minus dolores deserunt 
    praesentium accusamus.
  </p>
</article>