<div class="user gap-3 row mt-4">
    <span class="image col-3">
        <img src="assets/img/users/user-1.png" alt="User" class="">
    </span>
    <span class="col-9">
        <p>Bienvenid&#64; de nuevo,</p>
        <h2>Ona Costa</h2>
    </span>
   
</div>

<div class="stats gap-3">
    <span class="stat">
        <img src="assets/img/icon/badge.svg" alt="Badge">
        12 retos
    </span>
    <span class="stat" ngbTooltip="Empezado y finalizado">  
        <img src="assets/img/icon/bullseye-pointer.svg" alt="Bullseye pointer">           
        95% finalizados
    </span>
    <span class="stat" ngbTooltip="Veces guardado">
        <img src="assets/img/icon/chart-pie-slice.svg" alt="Chart pie slice">     
        65% progreso
    </span>
    <span class="stat" ngbTooltip="Fecha creación">     
        <img src="assets/img/icon/folder-upload.svg" alt="Folder Upload" id="folder">
        1 reto subido
    </span> 
    <span class="progress">
        <span class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></span>
    </span>
</div>
