@import '/src/styles/colors';

.challenge-list-element {
  border-radius: 1rem;
  padding-top: 0.4rem;
  min-height: 110px;
  cursor: pointer;
  background-color: $white;
  max-width: 28rem;
  color: $gray-3;


  &.status-ended {
    background-color: #1e7d34;
  }
  &.status-progress {
    background-color: #efa81b;
  }
  &.status-incomplete {
    background-color: rgb(84, 68, 91);
  }
}

.challenge-list-element-content {
  padding: 2rem;
  border-radius: 1rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: $gray-1;
  }
}

.description {
  overflow: hidden;
  line-height: 1.4;
  height: calc(1.4em * 3);
}

.stats-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .times-solved {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .likes-button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: none;
    background: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $gray-3;
  }
}
