<div class="challenge-list-element d-flex flex-column justify-content-center px-2 px-xl-4 py-2 py-xl-3"
  [routerLink]="['/ita-challenge/challenges/', id]">
  <div>
    <div class="info d-flex align-items-start justify-content-between">
      <div class="d-flex align-items-start w-100">
        <div class="difficulty d-flex" *ngIf="level == 'EASY'">
          <img src="assets/img/icon/difficulty-on.svg" alt="Difficulty">
          <img src="assets/img/icon/difficulty-off.svg" alt="Difficulty">
          <img src="assets/img/icon/difficulty-off.svg" alt="Difficulty">
        </div>
        <div class="difficulty d-flex" *ngIf="level == 'MEDIUM'">
          <img src="assets/img/icon/difficulty-on.svg" alt="Difficulty">
          <img src="assets/img/icon/difficulty-on.svg" alt="Difficulty">
          <img src="assets/img/icon/difficulty-off.svg" alt="Difficulty">
        </div>
        <div class="difficulty d-flex" *ngIf="level == 'HARD'">
          <img src="assets/img/icon/difficulty-on.svg" alt="Difficulty">
          <img src="assets/img/icon/difficulty-on.svg" alt="Difficulty">
          <img src="assets/img/icon/difficulty-on.svg" alt="Difficulty">
        </div>
        <div class="title">
          {{title}}
          <span
    *ngIf="solutionStatus"
    class="ms-2 badge"
    [ngClass]="{
      'bg-success text-white': solutionStatus === SolutionStatus.ENDED,
      'bg-warning text-dark': solutionStatus === SolutionStatus.IN_PROGRESS,
    }"
    [ngbTooltip]="getStatusTooltip()"
  >
    {{ 'status.' + solutionStatus | translate }}
  </span>
        </div>
      </div>
      
      <ul class="code-languages d-none d-xl-flex" *ngFor="let language of languages">
        <li class="code-icon js">
          <img src="assets/img/icon/language_icon_{{language.language_name}}.svg" alt="Language Icon">
        </li>
      </ul>
    </div>

    <div class="stats d-flex">
      <div class="stat d-flex align-items-center" [ngbTooltip]="'tooltips.startedFinished' | translate">
        <div><img src="assets/img/icon/times-performed.svg" alt="Times performed"></div>
        <div class="txt">{{challenge_timesSolved}}</div>
      </div>

      <button class="stat d-flex align-items-center favorite-button" [ngbTooltip]="'tooltips.favorites' | translate"
        (click)="toggleFavorite($event)">
        <div>
            <img *ngIf="!isFavorite" src="assets/img/icon/heart.svg" alt="Favorites">
            <img *ngIf="isFavorite" src="assets/img/icon/heart-filled.svg" alt="Favorites">
        </div>
        <div class="txt">{{favorites_count}}</div>
      </button>

      <div class="stat d-flex align-items-center" *ngIf="creation_date" [ngbTooltip]="'tooltips.creationDate' | translate">
        <div><img src="assets/img/icon/date.svg" alt="Date"></div>
        <div class="txt">{{ creation_date | customDate }}</div>
      </div>

      <button class="stat d-flex align-items-center bookmark-button"
        [ngbTooltip]="isBookmarked ? ('tooltips.bookmarks.saved' | translate) : ('tooltips.bookmarks.unsaved' | translate)"
        (click)="toggleBookmark($event)"
        [attr.aria-label]="isBookmarked ? ('tooltips.bookmarks.saved' | translate) : ('tooltips.bookmarks.unsaved' | translate)"
        [attr.aria-pressed]="isBookmarked">
        <div>
          <img *ngIf="!isBookmarked" src="assets/img/icon/bookmark.svg" [attr.alt]="'tooltips.bookmarks.unsaved' | translate">
          <img *ngIf="isBookmarked" src="assets/img/icon/bookmark-filled.svg" [attr.alt]="'tooltips.bookmarks.saved' | translate">
        </div>
      </button>

    </div>
  </div>
</div>