@import '/src/styles/colors';

.challenge-list-element {
  position: relative;
  border-radius: 1rem;
  padding-top: 0.4rem;
  min-height: 110px;
  cursor: pointer;
  max-width: 24rem;
  background-color: $white;
  color: $gray-3;

  &:hover {
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0.25rem 0.25rem 0 rgba($gray-5, 0.25);

    z-index: 10;
  }

  &.status-ended {
    background-color: $success;
  }
  &.status-progress {
    background-color: $warning;
  }
  &.status-incomplete {
    background-color: $gray-2;
  }
  .bookmark-button {
    
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: $gray-3;
    z-index: 1;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

}

.challenge-list-element-content {
  padding: 2rem;
  border-radius: 1rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    line-height: 1;
    height: calc(1.25rem * 2);
    font-size: 1.25rem;
    font-weight: bold;
    color: $gray-1;
  }

  .icon {
    width: 2rem;
    height: 2rem;
  }

  
}

.description {
  overflow: hidden;
  line-height: 1.4;
  height: calc(1.4rem * 3);
}

.stats-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .times-solved {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .likes-button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: none;
    background: none;
    border-radius: 0.5rem;
    cursor: pointer;
    color: $gray-3;
  }

  .creation-date {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .txt {
    color: $gray-3;
    height: 100%;
  }
}
