<div>
    <div class="row">
        <div class="col-9">
            <p>Retos > Detalle</p>
            <div class="d-flex align-items-start">
                <div class="difficulty col-1">
                    <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
                    <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
                    <img src="../../../../assets/img/icon/difficulty-off.svg" alt="Difficulty">
                </div>
                <div class="title col-11">
                    <h3>[Geometry A-1] Locate point - to the right, to the left or on the vector?</h3>
                </div>
            </div>
            <div class="stats">
                <span class="stat">
                    <img src="../../../../assets/img/icon/user.svg" alt="User">
                    IT-Academy
                </span>
                <span class="stat">  
                    <img src="../../../../assets/img/icon/bullseye.svg" alt="Bullseye">           
                    87%
                </span>
                <span class="stat">
                    <img src="../../../../assets/img/icon/bookmark.svg" alt="Bookmark">     
                    82
                </span>
                <span class="stat">     
                    <img src="../../../../assets/img/icon/clock.svg" alt="Date">
                    20 Dic 2023
                </span>
            </div>
        </div>
        <div class="col-3 button">
            <button class="btn btn-primary">Enviar solución</button>
        </div>
    </div>
</div>