@import 'src/styles/colors.scss';

.form {
    padding-right: 50px;

    .form-check-input {
        width: 24px;
        height: 24px;
        padding: .6rem;
        &:checked {
            background-color: $primary;
            border-color: $primary;
        }
        &:focus {
            box-shadow: none;
        }
    }

    .form-check-label {
        font-size: 14px;
        line-height: 34px;
        font-weight: 500;
        padding-left: .3rem;
        color: $black-3;
        
        /* Add styles for multi-line text */
        display: inline-block;
        vertical-align: middle;
        
        span, ::ng-deep span {
            display: inline-block;
            line-height: 1.2;
        }
    }

    p {
        font-size: 16px;
        line-height: 34px;
        font-weight: 700;
        color: $black-3;
        margin-top: 45px;
    }
}

// Target all .form elements except the first one to reduce the gap
.form + .form p {
    margin-top: 17px;
}