<form [formGroup]="filtersForm">
  <div class="form" formGroupName="languages">
    <p class="font-weight-bold mb-2"><span>{{'modules.starter.filters.lenguaje' | translate}}</span></p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkJs" formControlName="javascript">
      <label class="form-check-label" for="checkJs"><span>Javascript</span></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkJava" formControlName="java">
      <label class="form-check-label" for="checkJava"><span>Java</span></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkPhp" formControlName="php">
      <label class="form-check-label" for="checkPhp"><span>PHP</span></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkPython" formControlName="python">
      <label class="form-check-label" for="checkPython"><span>Python</span></label>
    </div>
  </div>

  <div class="form" formGroupName="levels">
    <p class="mb-2"><span>{{'modules.starter.filters.dificulty' | translate}}</span></p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkEasy" formControlName="easy">
      <label class="form-check-label" for="checkEasy"><span>{{'modules.starter.filters.easy' | translate}}</span></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkMedium" formControlName="medium">
      <label class="form-check-label" for="checkMedium"><span>{{'modules.starter.filters.medium' | translate}}</span></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkHard" formControlName="hard">
      <label class="form-check-label" for="checkHard"><span>{{'modules.starter.filters.hard' | translate}}</span></label>
    </div>
  </div>
  
  <div class="form" formGroupName="progress" *ngIf="isUserLoggedIn">
    <!-- *ngIf="isUserLoggedIn"  solo si el usuario esta log in-->
    <p class="mb-2"><span>{{'modules.starter.filters.progress' | translate}}</span></p>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkNoStarted" formControlName="noStarted">
      <label class="form-check-label" for="checkNoStarted"><span>{{'modules.starter.filters.noStarted' | translate}}</span></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkStarted" formControlName="started">
      <label class="form-check-label" for="checkStarted"><span>{{'modules.starter.filters.started' | translate}}</span></label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="checkFinished" formControlName="finished">
      <label class="form-check-label" for="checkFinished"><span>{{'modules.starter.filters.finished' | translate}}</span></label>
    </div>
  </div>
</form>