<div class="form">
    <p class="font-weight-bold">Lenguaje</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkJs" name="language" value="1" (change)="checkFilter()">
        <label class="form-check-label" for="checkJs">Javascript</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkJava" name="language" value="2" (change)="checkFilter()">
        <label class="form-check-label" for="checkJava">Java</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkPhp" name="language" value="3" (change)="checkFilter()">
        <label class="form-check-label" for="checkPhp">PHP</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkPython" name="language" value="4" (change)="checkFilter()">
        <label class="form-check-label" for="checkPython">Python</label>
    </div>
</div>
<div class="form">
    <p>Dificultad</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkEasy" name="level" value="EASY" (change)="checkFilter()">
        <label class="form-check-label" for="checkEasy">Fácil</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkMedium" name="level" value="MEDIUM" (change)="checkFilter()">
        <label class="form-check-label" for="checkMedium">Media</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkHard" name="level" value="HARD" (change)="checkFilter()">
        <label class="form-check-label" for="checkHard">Difícil</label>
    </div>
</div>
<div class="form">
    <p>Progreso</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkNoStarted" name="noStarted" value="noStarted">
        <label class="form-check-label">No empezados</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkStarted" name="started" value="started">
        <label class="form-check-label">Falta completar</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkFinished" name="finished" value="finished">
        <label class="form-check-label">Completados</label>
    </div>
</div>
