@import 'src/styles/colors.scss';

.form{
    padding-right: 50px;
    margin-bottom: 2rem;
}
.form-check-input{
    padding: .6rem;
    &:checked {
        background-color: $primary;
        border-color: $primary;
    }
    &:focus{
        box-shadow: none;
    }
}
.form-check-label{
    font-size: 14px;
  line-height: 34px;
  font-weight: 500;
    padding-left: .3rem;
}
p{
    font-weight: bold;
}