<form [formGroup]="filtersForm">
    <div class="form" formGroupName="languages">
        <p class="font-weight-bold">Lenguaje</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkJs" formControlName="javascript">
            <label class="form-check-label" for="checkJs">Javascript</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkJava" formControlName="java">
            <label class="form-check-label" for="checkJava">Java</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkPhp" formControlName="php">
            <label class="form-check-label" for="checkPhp">PHP</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkPython" formControlName="python">
            <label class="form-check-label" for="checkPython">Python</label>
        </div>
    </div>
    <div class="form" formGroupName="levels">
        <p>Dificultad</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkEasy" formControlName="easy">
            <label class="form-check-label" for="checkEasy">Fácil</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkMedium" formControlName="medium">
            <label class="form-check-label" for="checkMedium">Media</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkHard" formControlName="hard">
            <label class="form-check-label" for="checkHard">Difícil</label>
        </div>
    </div>
    <div class="form" formGroupName="progress">
        <p>Progreso</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkNoStarted" formControlName="noStarted">
            <label class="form-check-label" for="checkNoStarted">No empezados</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkStarted" formControlName="started">
            <label class="form-check-label" for="checkStarted">Falta completar</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="checkFinished" formControlName="finished">
            <label class="form-check-label" for="checkFinished">Completados</label>
        </div>
    </div>
</form>
