@import "src/styles/_colors.scss";

:host {
    display: block;
}

.details-body {
    gap: 50px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;

    width: 1.15em;
    height: 1.15em;
    border-radius: 50%;
    border: 2px solid $primary;
    transform: translateY(0.15em);

    //to center ::before element
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    background-color: $primary;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus-visible {
    outline: 0;
}
