@import '../../../../styles.scss';

.main-menu{
    height: 100%;
    gap: 175px;
    a{
        width: max-content;
        color: $gray-3;
        display: flex;
        align-items: center;
        -moz-transition: all .15s ease-out;
        -webkit-transition: all .15s ease-out;
        -ms-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out;


        &.active{
            font-weight: bold;
            &::before{
                content: "";
                display: block;
                width: 9px;
                height: 9px;
                background: $primary;
                margin-right: 6px;
                margin-left: 9px;
                border-radius: 9px;
            }
        }
        &:hover{
            color: $primary;
        }
        &::before{
            -moz-transition: all .15s ease-out;
            -webkit-transition: all .15s ease-out;
            -ms-transition: all .15s ease-out;
            -o-transition: all .15s ease-out;
            transition: all .15s ease-out;
            content: "";
            display: block;
            width: 0;
            height: 0;
            background: $primary;
            margin-right: 9px;
            border-radius: 0;
        }
    }
    #main-options{
        gap: 38px;
    }
    #user-options{
        a{
            margin-bottom: 20px;
        }
    }
}