@import '/src/styles/colors';

.main-menu {
  height: 500px;
  gap: 175px;

  div {
    display: flex;
    flex-direction: column;
  }


  a {
    position: relative;
    width: max-content;
    color: $gray-3;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 35px;
    padding-right: 15px;
    padding-left: 0;

    -moz-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;

    font-size: 14px;
    line-height: 16px;
    font-weight: 600;

    &.active {
      padding-right: 0;
      padding-left: 15px;
      font-weight: 700;
      color: $black-3;

      &::before {
        background: $primary;
      }
    }

    &:hover {
      color: $primary;
    }

    &::before {
      -moz-transition: all 0.15s ease-out;
      -webkit-transition: all 0.15s ease-out;
      -ms-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 9px;
      height: 9px;
      background: transparent;
      border-radius: 9px;
    }
  }
//añadi un div en base a lo que estaba en este css
  .userOptions {
    margin-top: 130px; // Agregar un margen superior de 100px a .userOptions

    /*  a {
      // Estilos de tus enlaces dentro de .userOptions
    } */
  }



  #languages {
    margin-bottom: 30px;

    button {
      border: none;
      background: transparent;

      &:hover {
        color: $primary;
      }
    }

    #middleBtn {
      border-left: 1px solid $black-1;
      border-right: 1px solid $black-1;
    }
  }
}

@media (max-width: 1150px) {
  .main-menu {
    a,
    .userOptions a {
      max-width: 120px;
      white-space: normal;
      word-wrap: break-word;
      line-height: 1.2;
      height: auto;
      margin-bottom: 30px;
    }
  }
  .main-menu a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-menu a img {
  margin-right: 8px;
  flex-shrink: 0;
}
}
