<!-- <app-header></app-header> -->
<div id="main-wrapper" class="d-flex container-fluid">
  <nav class="d-none d-md-block">
    <div id="menu">
      <!-- <div id="logo"></div> -->
      <div>
        <img class="logo" src="assets/img/it-academy.svg" alt="IT Academy" width="125">
      </div>
      <app-main-menu></app-main-menu>
    </div>
  </nav>
  <div class="w-100">
    <app-header></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>

</div>
<app-footer></app-footer>