<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header align-items-center justify-between pb-0">
    <h4 class="modal-title fw-bold">{{ "modules.starter.main.section1" | translate }}</h4>
    <div class="close" data-bs-dismiss="modal" (click)="d('cross click')" aria-label="Close">
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="modal-body">
    <form [formGroup]="formGroup">
      <div formGroupName="languages" class="form">
        <p class="fw-bold">{{'modules.starter.filters.lenguaje' | translate}}</p>
        <div class="d-flex flex-wrap">
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="javascript">
            <label class="input-label">Javascript</label>
          </div>
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="java">
            <label class="input-label">Java</label>
          </div>
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="php">
            <label class="input-label">PHP</label>
          </div>
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="python">
            <label class="input-label">Python</label>
          </div>
        </div>
      </div>

      <div formGroupName="levels" class="form">
        <p class="fw-bold">{{'modules.starter.filters.dificulty' | translate}}</p>
        <div class="d-flex">
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="easy">
            <label class="input-label">{{'modules.starter.filters.easy' | translate}}</label>
          </div>
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="medium">
            <label class="input-label">{{'modules.starter.filters.medium' | translate}}</label>
          </div>
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="hard">
            <label class="input-label">{{'modules.starter.filters.hard' | translate}}</label>
          </div>
        </div>
      </div>

      <div  formGroupName="progress" class="form">
        <p class="fw-bold">{{'modules.starter.filters.progress' | translate}}</p>
        <div class="d-flex flex-wrap">
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="noStarted">
            <label class="input-label">{{'modules.starter.filters.noStarted' | translate}}</label>
          </div>
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="started">
            <label class="input-label">{{'modules.starter.filters.started' | translate}}</label>
          </div>
          <div class="input-wrapper">
            <input class="pill-input" type="checkbox" formControlName="finished">
            <label class="input-label">{{'modules.starter.filters.finished' | translate}}</label>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer mt-4 px-0 gap-3 justify-content-center">
    <button
      type="button"
      class="btn btn-lg btn-primary btn-change col-11 col-md-5"
      (click)="applyFilters()"
    >
      Aplicar
    </button>
    <button
      type="button"
      class="btn btn-lg col-11 col-md-5"
      (click)="d('Cross click')"
    >
      Cancelar
    </button>
  </div>
</ng-template>
