<ng-template #modal let-c="close" let-d="dismiss">
<div class="modal-header align-items-center justify-between pb-0">
  <h4 class="modal-title fw-bold">
    {{'modules.modals.filters.filterTitle' | translate}}

  </h4>
    <div class="close" data-bs-dismiss="modal" (click)="d('cross click')" aria-label="Close">
        <span></span>
        <span></span>
    </div>
</div>

<div class="modal-body">
  <div class="form">
      <p class="fw-bold">    {{'modules.modals.filters.programmingLanguages' | translate}}
      </p>
      <div class="d-flex">
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkJs" name="javaScript" value="javaScript">
            <label for="checkJs" class="input-label">Javascript</label>
        </div>
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkJava" name="java" value="java">
            <label class="input-label">Java</label>
        </div>
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkPhp" name="php" value="php">
            <label class="input-label">PHP</label>
        </div>
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkPython" name="python" value="python">
            <label class="input-label">Python</label>
          </div>
      </div>
  </div>
  <div class="form">
    <p class="fw-bold">{{'modules.modals.filters.difficulty.difficultyTitle' | translate}}</p>
    <div class="d-flex">
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkFacil" name="facil" value="facil">
            <label class="input-label">{{'modules.modals.filters.difficulty.easy' | translate}}</label>
        </div>
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkMedia" name="media" value="media">
            <label class="input-label">{{'modules.modals.filters.difficulty.medium' | translate}}</label>
        </div>
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkDificil" name="dificil" value="dificil">
            <label class="input-label"> {{'modules.modals.filters.difficulty.difficult' | translate}} </label>
        </div>
      </div>
  </div>
  <div class="form">
      <p class="fw-bold">{{'modules.modals.filters.progress.progressTitle' | translate}}</p>
      <div class="d-flex flex-wrap">
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkNoStarted" name="noStarted" value="noStarted">
            <label class="input-label">{{'modules.modals.filters.progress.notStarted' | translate}}</label>
        </div>
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkStarted" name="started" value="started">
            <label class="input-label">{{'modules.modals.filters.progress.notCompleted' | translate}}</label>
        </div>
        <div class="input-wrapper">
            <input class="pill-input" type="checkbox" id="checkFinished" name="finished" value="finished">
            <label class="input-label">{{'modules.modals.filters.progress.completed' | translate}}</label>
        </div>
      </div>
  </div>
</div>

<div class="modal-footer mt-4 px-0 gap-3 justify-content-center">
  <button
    type="button"
    class="btn btn-lg btn-primary btn-change col-11 col-md-5"
    (click)="c('Save click')"
  >
    Aplicar
  </button>
  <button
    type="button"
    class="btn btn-lg btn-outline-primary col-11 col-md-5"
    (click)="d('Cross click')"
  >
    Cancelar
  </button>
</div>
</ng-template>