

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" aria-label="Previous"  (click)="prev()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for( e of [].constructor(totalPages); track e; let i = $index){
            <li class="page-item" ><a [ngClass]="(pageNumber+i == pageNumber ? 'page-link bg-black' : 'page-link')"(click)="setPageOffset(pageNumber+i)">{{pageNumber + (i)}}</a></li>    
        
        }
        <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="next()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>