$input-btn-padding-y: .5rem;
$input-btn-padding-x: 2.5rem;
$input-btn-padding-y-sm: .3rem;
$input-btn-padding-x-sm: 2.3rem;
$input-btn-padding-y-lg: .7rem;
$input-btn-padding-x-lg: 2.7rem;
$btn-border-radius: .7rem;
$btn-border-radius-sm: .5rem;
$btn-border-radius-lg: .8rem;
$btn-disabled-opacity: .35;

.btn.btn-primary[disabled],.btn.btn-secondary[disabled]{
    background-color: #E0E0E0;
    border-color: #E0E0E0;
}
.btn.btn-secondary:hover{
    background-color: #AE8332;
    border-color: #AE8332;
}
.btn.btn-primary[active]{
    background-color: #CE5DA1;
    border-color: #CE5DA1;
}
.btn.btn-primary[active]{
    background-color: #FBCF7E;
    border-color: #FBCF7E;
}
.btn.btn-secondary,.btn.btn-success,.btn-warning,.btn.btn-error{
    color: $white;
}
.btn.btn-outline-primary, .btn.btn-outline-secondary{
    border: 2px solid $gray-3;
    color: $black-3;
}
.btn.btn-outline-primary[disabled], .btn.btn-outline-secondary[disabled]{
    border-color: #E0E0E0;
    color: #E0E0E0;
}
.btn.btn-outline-primary:hover{
    background-color: #F1CCE5;
    border-color: #820057;
    color: $black-3;
}
.btn.btn-outline-secondary:hover{
    background-color: #F6D69A;
    border-color: #AE8332;
    color: $black-3;
}
.btn.btn-outline-primary[active]{
    background-color: #E399CB;
    border-color: $primary;
    color: $black-3;
}
.btn.btn-outline-secondary[active]{
    background-color: #fbd48c;
    border-color: $secondary;
    color: $black-3;
}
.btn.btn-round-icon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}