//BRAND COLORS
$primary: #b91879;
$secondary: #f9bb47;
//STATE COLORS
$info: #2f80ed;
$success: #27ae60;
$warning: #e2aa3b;
$error: #eb5757;
//BLACK COLORS
$black-1: #000000;
$black-2: #1e1e1e;
$black-3: #282828;
$white: #ffffff;
//GREY COLORS
$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #7e7e7e;
$gray-4: #ebebeb;

//SELECTORS
$component-active-color: $primary;
