//BODY

$font-size-base: 16px;
$font-size-lg: 16px;

$line-height-base: $font-size-base * 1.4;
$line-height-lg: $font-size-base * 1.4;

body{
    font-size: $font-size-base;
    line-height: $line-height-base;    
}
p{
    margin-top: $line-height-base;
    margin-bottom: $line-height-base;
}

//HEADING

$h1-font-size: 26px;
$h2-font-size: 22px;
$h3-font-size: 16px;

h1{
    font-size: $h1-font-size;
    $line-height-base: $h1-font-size * 1.2;
    line-height: $line-height-base;
    margin-top: $line-height-base;
    margin-bottom: $line-height-base;
    font-weight: bold;
}
h2{
    font-size: $h2-font-size;
    $line-height-base: $h2-font-size * 1.2;
    line-height: $line-height-base;
    margin-top: $line-height-base;
    margin-bottom: $line-height-base;
    font-weight: bold;
    color: #282828;
}
h3{
    font-size: $h3-font-size;
    $line-height-base: $h3-font-size * 1.2;
    line-height: $h3-font-size * 1.2;
    margin-top: $line-height-base;
    margin-bottom: $line-height-base;
    font-weight: bold;
}
