$link-color:       #000000;
$link-decoration:  none;

a{
    cursor: pointer;
    color: $link-color;
    &:hover{
        color: $link-color;
        text-decoration: none;
    }
}

.animated{
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.link{
    color:#BA007C;
}

.user-mobile, .user {
    border: unset;
    background: $white;
    border-radius: 10px;
    width: 45px;
    height: 38px;
    position: relative;
    display: inline-block;
}

.userWithPhoto {
    border-radius: 50%;
    border: unset;
    width: 40px;
    height: 40px;
    position: relative;
    padding: 0;
    display: inline-block;
    overflow: hidden;
}