@import "src/styles/colors";
@import "src/styles/buttons";
@import "src/styles/fonts";

.title {
  margin-bottom: 16px;
  max-width: 100%;
}
.title h3 {
  line-height: 2rem;
}
.arrow-left {
  filter: invert(17%) sepia(51%) saturate(4948%) hue-rotate(308deg) brightness(94%) contrast(96%);
}
span:hover .arrow-left{
  filter:invert(0%) sepia(97%) saturate(7416%) hue-rotate(131deg) brightness(90%) contrast(97%);
}
.difficulty img {
  margin-top: 4px;
  margin-right: 2px;
}

.stats {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #808080;
}
.stats .stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-top: 32px;
  padding-right: 0;
  
  .btn.btn-sm {
    margin-left: 0.9rem;
    display: flex;
    
    &:first-child {
      margin-left: 0;
    }
  }
}

h3 {
  font-size: 26px;
  font-weight: 700;
  color: $black-1;
  margin: 0;
}

.solutionSent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $primary;
  font-weight: bold;
}
.solutionSent img {
  width: 1.5em;
  margin: .3rem;
}

#color {
  color: $primary;
  font-weight: 600;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 500;
  color: #828282;
}

.stat {
  &[style*="cursor: pointer"] {
    &:hover {
      opacity: 0.8;
    }
  }
  
  img {
    vertical-align: middle;
    margin-right: 4px;
  }
}

.stats .stat .txt {
  display: inline-block;
  min-width: 24px;
  text-align: center;
}

.bookmark-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  transition: transform 0.2s ease;
}