
<div class="modal-header align-items-center justify-content-end pb-0">
    <div class="close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close">
        <span></span>
        <span></span>
    </div>
</div>
<div class="d-flex flex-column justify-items-center">
    <div class="modal-body d-flex flex-column gap-3 pt-0 col-9  mx-auto text-center">
        <img src="../../../../assets/img/icon/megaphone.svg" alt="Megaphone">
        <h2 class="modal-title">¿Estás segur&#64;?</h2>
        <p>una vez enviado el código no se puede editar</p>
    </div>
    <div class="col-12 modal-footer gap-3 mb-3 text-center d-inline">
        <button  type="button" class="btn btn-outline-primary col-4 m-2" (click)="closeModal()">Cancelar</button>
        <button type="submit" class="btn btn-primary col-4 m-2" (click)="acceptSolution()">Aceptar</button>
    </div>
</div>