<div class="desktop-nav">
  <!-- languageSelect -->
  <div>
    <label for="languageSelect">
      <select class="languageSelect" id="languageSelect" (change)="changeLanguage($event)" [style.width]="navService.selectWidth">
        <option value="ca">CAT</option>
        <option value="es">ES</option>
        <option value="en">EN</option>
      </select>
    </label>
  </div>

  <!-- Login -->
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mentorLoginModal">
    Iniciar sessió
  </button>

  <app-mentor-login></app-mentor-login>

</div>
