<div class="desktop-nav">
  <!-- languageSelect -->
  <div>
    <label for="languageSelect">
      <select class="languageSelect" id="languageSelect" (change)="changeLanguage($event)" [style.width]="navService.selectWidth">
        <option value="ca">CAT</option>
        <option value="es">ES</option>
        <option value="en">EN</option>
      </select>
    </label>
  </div>

  <!-- Login -->
  @if(isLoggedIn){
    <div class="user-container">
      <button class="user" (click)="toggleDropdown()">
        <img src="assets/img/icon/user.svg" alt="User" style="border: none; padding: 0; background: none;">
      </button>
      <div class="dropdown" [ngClass]="{ 'show': dropdownOpen }">
          <a>{{user}}</a>
          <a (click)="logout()">{{'modules.challenge.header.logout' | translate}}<img src="assets/img/icon/logout.svg" alt="logout" style="height: 17px;"></a>
      </div>
    </div>
  } @else {
    <button class="login" data-bs-toggle="modal" data-bs-target="#mentorLoginModal">
      {{'modules.challenge.header.login' | translate}}
    </button>
  }

  <app-mentor-login (loginSuccess)="onLoginSuccess($event)"></app-mentor-login>

</div>
