<div class="desktop-nav">
  <!-- languageSelect -->
  <div>
    <label for="languageSelect">
      <select class="languageSelect" id="languageSelect" (change)="changeLanguage($event)" [style.width]="navService.selectWidth">
        <option value="ca">CAT</option>
        <option value="es">ES</option>
        <option value="en">EN</option>
      </select>
    </label>
  </div>

  <!-- Login -->
  @if(isLoggedIn){
    <button class="login" data-bs-toggle="modal" data-bs-target="#mentorLoginModal" disabled>
      {{'modules.challenge.header.login' | translate}}
    </button>
  } @else {
    <button class="login" data-bs-toggle="modal" data-bs-target="#mentorLoginModal">
      {{'modules.challenge.header.login' | translate}}
    </button>
  }

  <app-mentor-login (loginSuccess)="onLoginSuccess($event)"></app-mentor-login>

</div>
