@import "/src/styles/colors";

.desktop-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 4rem;

  .languageSelect {
    font-size: 1rem;
    border: none;
    border-radius: 0.625rem;
    font-weight: 500;
    background-color: $white;
    margin: 0px;
    padding: 0.47rem;
    color: $gray-6;
    width: 69px;
    height: 41px;
    transition: transform 0.3s ease 0s;

    &:focus-visible {
      outline: none;
    }
  }

  .setting {
    width: 48px;
    height: 41px;
    background: $white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;

      &:hover {
        color: $primary;
      }

      &::before {
        -moz-transition: all 0.15s ease-out;
        -webkit-transition: all 0.15s ease-out;
        -ms-transition: all 0.15s ease-out;
        -o-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 9px;
        height: 9px;
        background: transparent;
        border-radius: 9px;
      }
    }
  }

  .user {
    border: unset;
    width: 48px;
    height: 41px;
    background: $white;
    border-radius: 10px;
  }
}