
<div class="challenge-component">
    <app-challenge-header
        [title] = "title"
        [creation_date] = "creation_date"
        [level] = "level"
        [activeId] = "activeId">
    </app-challenge-header>

    <app-challenge-info
        [details] = "details"
        [related] = "related"
        [resources] = "resources"
        [solutions] = "solutions"
        [description] = "description"
        [examples] = "examples"
        [notes] = "notes"
        [popularity] = "popularity"
        [languages] = "languages"
        [activeId]= "activeId" 
        (activeIdChange)="onActiveIdChange($event)"
        [idChallenge] = "idChallenge"
>   </app-challenge-info>
</div>