<div class="challenge-component">
    <app-challenge-header
        [title]="title"
        [creation_date]="creation_date"
        [level]="level"
        [activeId]="activeId"
        [idChallenge]="idChallenge"
        [favorites_count]="challenge ? challenge.favorites_count || 0 : 0"
        (startChallenge)="onStartChallenge($event)"
        (favoritesUpdated)="onFavoritesUpdated($event)"
>   </app-challenge-header>

    <app-challenge-info
        [detail]="detail"
        [description]="description"
        [examples]="examples"
        [notes]="notes"
        [popularity]="popularity"
        [languages]="languages"
        [activeId]="activeId"
        (activeIdChange)="onActiveIdChange($event)"
        [idChallenge]="idChallenge"
        [startChallenge]="challengeStarted"
        [showEditor]="showEditor"
>   </app-challenge-info>

</div>