<div id="challenge-list-filters">
    <div><app-language-filter (languageMapChanged)="languageMap = $event"></app-language-filter></div>
    <div class="space-divider"></div>
    <app-sort-select
      [sortBy]="sortBy"
      [isAscending]="isAscending"
      (sortSelected)="changeSort($event)"
      (orderSelected)="changeOrder($event)">
    </app-sort-select>
    <div>
        <app-challenge-filters-trigger
            [initialFilters]="initialFilters"
            [languageMap]="languageMap"
            (filtersApplied)="onModalFiltersApplied($event)">
        </app-challenge-filters-trigger>
    </div>
</div>
