<app-profile-header></app-profile-header>
<div>
    <div class="d-flex justify-content-between">
        <h3 class="mt-5">Retos realizados</h3>
        <div>
            <img src="assets/img/icon/arrow_left.svg" alt="Arrow Left">
            <img src="assets/img/icon/arrow_right.svg" alt="Arrow Right">
        </div>
    </div>
    <!---- TO DO NGFOR ----->
    <app-challenge-card></app-challenge-card>
    <app-challenge-card></app-challenge-card>
    <app-challenge-card></app-challenge-card>
</div>
<div>
    <div class="d-flex justify-content-between">
        <h3 class="mt-5">Retos guardados</h3>
        <div>
            <img src="assets/img/icon/arrow_left.svg" alt="Arrow Left"  class="m-0 p-0">
            <img src="assets/img/icon/arrow_right.svg" alt="Arrow Right"  class="m-0 p-0">
        </div>
    </div>
    <!---- TO DO NGFOR ----->
    <app-challenge-card></app-challenge-card>
    <app-challenge-card></app-challenge-card>
    <app-challenge-card></app-challenge-card>
</div>