<div class="modal fade" id="mentorLoginModal" tabindex="-1" aria-labelledby="mentorLoginModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mentorLoginModalLabel">Inici de sessió</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="text-center mt-4">
        
          <form [formGroup]="loginForm">
        
            <div class="d-flex flex-column align-items-center mt-4 gap-3">
              <button class="github-button d-flex align-items-center gap-2" 
                  (click)="loginWithGitHub()"
                  [disabled]="isLoading">
                @if (isLoading){
                  <div class="loader"><div></div><div></div><div></div><div></div></div>
                }@else{
                  <img
                    src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                    alt="GitHub Logo"
                    width="25"
                  />
                  <span>Sign in with GitHub</span>
                }
              </button>
          
              <label class="d-flex align-items-center gap-2">
                <input type="checkbox" class="form-check-input" formControlName="termsCheck">
                <span>Accepto els termes legals</span>
              </label>    
            </div>
        
          </form>
                
          @if (isErrorVisible){
            <div class="error-message mt-3">
              {{ 'messages.errors.unauthorized' | translate }}
            </div>
          }
        
          @if (showTermsError){
            <div class="error-message mt-3">
              Ha d'acceptar els termes i condicions.
            </div>
          }
        
        </div>

      </div>
    </div>
  </div>
</div>

