<div class="d-flex justify-content-center mt-5">
  <button class="github-button" (click)="loginWithGitHub()">
    <img
      src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
      alt="GitHub Logo"
      width="25"
    />
    <span>Sign in with GitHub</span>
  </button>
</div>


<div *ngIf="isSuccessVisible" class="popup success-popup">
  <button class="close-btn" (click)="closeSuccess()">×</button>
  <div class="success-message">{{'messages.success.welcome' | translate}}</div>
</div>

<div *ngIf="isErrorVisible" class="popup error-popup">
  <div class="d-flex justify-content-center mt-5">
    <button class="github-button" (click)="loginWithGitHub()">
      <img
        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
        alt="GitHub Logo"
        width="25"
      />
      <span>Sign in with GitHub</span>
    </button>
  </div>
  <button class="close-btn" (click)="closeError()">×</button>
  <div class="error-message">{{ 'messages.errors.unauthorized' | translate }}</div>
</div>