@import "/src/styles/colors";

.modal-content {
  min-height: 300px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  min-height: 100%;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #050607;
  color: #ffffff;
  width: 15rem;
  height: 3rem;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;

  &:hover {
    background-color: #3d3d3d;
  }

  &:disabled {
    background-color: #3d3d3d;
    opacity: 0.5; 
    cursor: not-allowed;
    pointer-events: none; 
  }
}

.github-text, .term-text {
  font-size: 0.8rem;
  font-weight: 400;
}

.term-text:hover {
  color: $primary;
}

.form-check-input {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 4px;
  vertical-align: middle;
  margin-top: -1px;
  border-color: #000000;

  &:checked {
    background-color: $primary;
    border-color: $primary;
  }

  &:hover, &:focus {
    border-color: $primary;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
  }
}

.error-container {
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-message {
  margin-top: 1rem;
  color: rgb(255, 93, 93);
  font-size: 0.8rem;
  font-weight: 500;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.loader {
  --d: 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  animation: spin 1s infinite linear;
  background: none;
  box-shadow: 
    calc(1 * var(--d))      calc(0 * var(--d))      0 #ffffff,
    calc(0.866 * var(--d))  calc(0.5 * var(--d))   0 #e0e0e0,
    calc(0.5 * var(--d))    calc(0.866 * var(--d)) 0 #cfcfcf,
    calc(0 * var(--d))      calc(1 * var(--d))     0 #bfbfbf,
    calc(-0.5 * var(--d))   calc(0.866 * var(--d)) 0 #a0a0a0,
    calc(-0.866 * var(--d)) calc(0.5 * var(--d))   0 #808080,
    calc(-1 * var(--d))     calc(0 * var(--d))     0 #606060,
    calc(-0.866 * var(--d)) calc(-0.5 * var(--d))  0 #404040,
    calc(-0.5 * var(--d))   calc(-0.866 * var(--d)) 0 #303030,
    calc(0 * var(--d))      calc(-1 * var(--d))    0 #202020,
    calc(0.5 * var(--d))    calc(-0.866 * var(--d)) 0 #101010,
    calc(0.866 * var(--d))  calc(-0.5 * var(--d))  0 #000000;
}

@keyframes spin {
  100% { transform: rotate(1turn); }
}


