<div class="challenge-list-element mx-0 mx-md-4 my-4 px-2 px-md-4 py-2 py-md-3 d-flex flex-column justify-content-between" [routerLink]="['65031a0b-4fe3-4b8c-9d05-052ced6de781']">
    <div class="info d-flex align-items-start justify-content-between">
        <div class="d-flex align-items-start w-100">
            <div class="difficulty" *ngIf="level == 'EASY'">
                <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
                <img src="../../../../assets/img/icon/difficulty-off.svg" alt="Difficulty">
                <img src="../../../../assets/img/icon/difficulty-off.svg" alt="Difficulty">
            </div>
            <div class="difficulty" *ngIf="level == 'MEDIUM'">
                <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
                <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
                <img src="../../../../assets/img/icon/difficulty-off.svg" alt="Difficulty">
            </div>
            <div class="difficulty" *ngIf="level == 'HARD'">
                <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
                <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
                <img src="../../../../assets/img/icon/difficulty-on.svg" alt="Difficulty">
            </div>
            <div class="title">
                {{challenge_title}}
            </div>
        </div>
        <ul class="code-languages d-flex"  *ngFor="let language of languages">
            <li class="code-icon js" *ngIf="language.id_language == '1'">  
                <img src="../../../../assets/img/icon/js.svg" alt="1">
            </li>
            <li class="code-icon python" *ngIf="language.id_language == '2'">
                <img src="../../../../assets/img/icon/python.svg" alt="Python">
            </li>
            <li class="code-icon php" *ngIf="language.id_language == '3'">
                <img src="../../../../assets/img/icon/php.svg" alt="php">
            </li>
            <li class="code-icon java" *ngIf="language.id_language == '4'">
                <img src="../../../../assets/img/icon/java.svg" alt="Java">
            </li>
        </ul>
    </div>
    <div class="stats gap-1 gap-md-3">
        <span class="stat">
            <img src="../../../../assets/img/icon/user.svg" alt="User">
            IT-Academy
        </span>
        <span class="stat" ngbTooltip="Empezado y finalizado">  
            <img src="../../../../assets/img/icon/bullseye.svg" alt="Bullseye">           
            87%
        </span>
        <span class="stat" ngbTooltip="Veces guardado">
            <img src="../../../../assets/img/icon/bookmark.svg" alt="Bookmark">     
            82
        </span>
        <span class="stat" ngbTooltip="Fecha creación">     
            <img src="../../../../assets/img/icon/clock.svg" alt="Date">
            {{creation_date}}
        </span>
    </div>
</div>
