<div class="modal-header align-items-center justify-content-end pb-0">
    <button type="button" class="close border-0 bg-transparent" 
    aria-label="Close" (click)="closeModal()">
        <span></span>
        <span></span>
    </button>
</div>
<div class="d-flex flex-column justify-content-center">
    <div class="modal-body d-flex flex-column gap-2 pt-0 col-10 mx-auto text-center">
        <h2 class="modal-title">{{'modules.modals.register.title' | translate}}</h2>
        <p class="d-flex align-items-start">{{'modules.modals.register.description' | translate}}</p>
        <form (ngSubmit)="addUsername()" class="d-flex flex-column gap-2 justify-content-center">
            <div class="d-flex gap-2 align-items-center">
                <input type="text" class="form-control" [(ngModel)]="username" name="username"
                    placeholder="{{'modules.modals.register.placeholder' | translate}}" required pattern="^(?!-)(?!.*--)[a-zA-Z0-9-]{1,39}(?<!-)$"
                    #usernameInput="ngModel">
                <button type="submit" class="btn btn-primary" [disabled]="usernameInput.invalid || isDuplicateUsername(username)">{{'modules.modals.register.btn-add' | translate}}</button>
            </div>
            <div class="d-flex align-items-start text-danger small my-2">
                <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched) && username">
                    <div *ngIf="usernameInput.errors?.['pattern']">{{'modules.modals.register.msg-invalid' | translate}}</div>
                </div>
                <div *ngIf="isDuplicateUsername(username) && !usernameInput.errors?.['required']">
                    {{'modules.modals.register.msg-duplicate' | translate}}
                </div>
            </div>
        </form>
        <div *ngIf="usernames.length > 0" class="my-1">
            <div class="list-group">
        <div class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of usernames; let i = index">
                    {{ user }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 modal-footer gap-2 mb-3 text-center d-flex flex-column">
        <button type="button" class="btn btn-primary" (click)="closeModal()">{{'modules.modals.register.btn-confirm' | translate}}</button>
    </div>
</div>