<div class="modal-header align-items-center justify-content-end pb-0">
    <div class="close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close">
        <span></span>
        <span></span>
    </div>
</div>
<div class="d-flex flex-column justify-content-center">
    <div class="modal-body d-flex flex-column gap-3 pt-0 col-9  mx-auto text-center">
        <h2 class="modal-title">Añadir usuarios/as </h2>
        <p>Inserta los usuarios de github</p>
        <button type="submit" class="btn btn-primary col-4" (click)="closeModal()">Añadir</button>
    </div>
    <div class="col-12 modal-footer gap-2 mb-3 text-center d-flex flex-column">
        <button  type="button" class="btn btn-primary col-4" (click)="closeModal()">Confirmar</button>
    </div>
</div>