<div class="modal-header align-items-center justify-content-end pb-0">
    <div class="close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close">
        <span></span>
        <span></span>
    </div>
</div>
<div class="w-100">
    <h2 class="modal-title text-center w-100">Registro</h2>
    <form [formGroup]="registerForm" class=" my-4 mx-sm-0 mx-lg-5 ps-5 pe-5 row">
        <div class="col-sm-12 col-lg-6">
            <input formControlName="dni" type="text" name="dni" placeholder="DNI"
                [ngClass]="!isValidInput('dni') ? 'form-control' : 'form-control is-invalid'">
            @if(isValidInput('dni')){
            <p class="text-danger form-text ps-3"> {{getInputError('dni')}}</p>
            }
        </div>
        <div class="col-sm-12 col-lg-6">
            <input formControlName="email" class="form-control" type="email" name="email" placeholder="Email"
                [ngClass]="!isValidInput('email') ? 'form-control' : 'form-control is-invalid'">
            @if(isValidInput('email')){
            <p class="text-danger form-text ps-3"> {{getInputError('email')}}</p>
            }
        </div>
        <div class="col-sm-12 col-lg-6">
            <input formControlName="name" class="form-control" type="text" name="name" placeholder="Username"
                [ngClass]="!isValidInput('name') ? 'form-control' : 'form-control is-invalid'">
            @if(isValidInput('name')){
            <p class="text-danger form-text ps-3"> {{getInputError('name')}}</p>
            }
        </div>
        <div class="col-sm-12 col-lg-6">
            <select formControlName="itineraryId" class="form-select" placeholder="Especialización"
                [ngClass]="!isValidInput('name') ? 'form-control' : 'form-control is-invalid'">
                <option value="" class="text-muted">Especialización</option>
                @for( itinerary of itineraries; track itinerary.id ){
                <option [value]="itinerary.id">{{itinerary.name}}</option>
                }
            </select>
            @if(isValidInput('itineraryId')){
            <p class="text-danger form-text ps-3"> {{getInputError('itineraryId')}}</p>
            }
        </div>
        <div class="col-sm-12 col-lg-6">
            <input formControlName="password" class="form-control" type="password" name="password"
                placeholder="Contraseña"
                [ngClass]="!isValidInput('password') ? 'form-control' : 'form-control is-invalid'">
            @if(isValidInput('password')){
            <p class="text-danger form-text ps-3"> {{getInputError('password')}}</p>
            }
        </div>
        <div class="col-sm-12 col-lg-6">
            <input formControlName="confirmPassword" type="password" name="confirmPassword"
                placeholder="Repetir contraseña"
                [ngClass]="!isValidInput('confirmPassword') ? 'form-control' : 'form-control is-invalid'">
            @if(isValidInput('confirmPassword')){
            <p class="text-danger form-text ps-3"> {{getInputError('confirmPassword')}}</p>
            }
        </div>

        @if(registerError != ""){
        <p class="w-100 text-center text-danger mt-3 mb-0 fs-6"> {{registerError}}</p>
        }
        <div class="row mt-3 mt-lg-4">
            <div class="form-check col-sm-12 col-lg-6 d-flex align-items-center mb-3 mb-lg-0">
                <input formControlName="legalTermsAccepted" class="form-check-input ms-1 mb-1" type="checkbox" value=""
                    id="flexCheckDefault">
                <label class="form-check-label fs-6 ps-2" for="flexCheckDefault"> Acepto términos legales </label>
            </div>

            <div class="col-sm-12 col-lg-6 d-flex align-items-center ">
                <button (click)="register()" type="submit" class="btn btn-primary w-100">Registro</button>
            </div>
        </div>
        <div class="modal-footer">
            <h3 class="w-100 text-center mt-5"><a (click)="openLoginModal()">¿Tienes cuenta?, acceder</a></h3>
        </div>
    </form>
</div>
<pre>{{registerForm.value|json}}</pre>
<pre>{{registerForm.valid|json}}</pre>