@import 'src/styles/colors.scss';

input, select{
    margin-bottom: 10px;
}

select:invalid {
    color: $gray-5;
}

.form-check-input{
    border-color: $black-1;
    padding: .6rem;
    &:checked {
        background-color: $primary;
        border-color: $primary;
    }
    &:focus{
        box-shadow: none;
    }
}

#legalTerms label a {
    text-decoration: underline;
}