<div class="modal-header align-items-center justify-content-end pb-0">
    <div class="close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close">
        <span></span>
        <span></span>
    </div>
</div>
<div class=" d-flex justify-content-center">
    <form [formGroup]="registerForm" class="d-flex flex-column just-content-center gap-3 col-12 col-md-5">
        <div class="modal-body d-flex flex-column gap-3 pt-0">
            <h2 class="modal-title">Registro</h2>
            <div id="sing-up-form" class="d-flex gap-3 flex-column justify-content-start">
                <input formControlName="dni" class="form-control" type="text" name="dni" placeholder="DNI o NIE">
                <input formControlName="email" class="form-control" type="email" name="email" placeholder="Email">
                <input formControlName="password" class="form-control" type="password" name="password" placeholder="Contraseña">
                <input formControlName="repeatpassword" class="form-control" type="password" name="repeatpassword" placeholder="Repetir contraseña">
            </div>
        </div>
        <div class="modal-footer d-flex flex-column gap-3 mb-3">
            <button (click)="register()" type="submit" class="btn btn-primary w-100">Registro</button>
            <h3><a (click)="openLoginModal()">¿Tienes cuenta?, acceder</a></h3>
        </div>
    </form>
</div>