
<div>
    <!-- Header con título y botones -->
    <div class="header">
      <div class="header-content my-4"><div>
          <a class="link" (click)="onCancel()">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.7672 7.5431C11.0672 7.25744 11.0788 6.78271 10.7931 6.48276C10.5074 6.18281 10.0327 6.17123 9.73276 6.4569L10.7672 7.5431ZM4.48276 11.4569C4.18281 11.7426 4.17123 12.2173 4.4569 12.5172C4.74256 12.8172 5.21729 12.8288 5.51724 12.5431L4.48276 11.4569ZM5.51724 11.4569C5.21729 11.1712 4.74256 11.1828 4.4569 11.4828C4.17123 11.7827 4.18281 12.2574 4.48276 12.5431L5.51724 11.4569ZM9.73276 17.5431C10.0327 17.8288 10.5074 17.8172 10.7931 17.5172C11.0788 17.2173 11.0672 16.7426 10.7672 16.4569L9.73276 17.5431ZM5 11.25C4.58579 11.25 4.25 11.5858 4.25 12C4.25 12.4142 4.58579 12.75 5 12.75V11.25ZM19 12.75C19.4142 12.75 19.75 12.4142 19.75 12C19.75 11.5858 19.4142 11.25 19 11.25V12.75ZM9.73276 6.4569L4.48276 11.4569L5.51724 12.5431L10.7672 7.5431L9.73276 6.4569ZM4.48276 12.5431L9.73276 17.5431L10.7672 16.4569L5.51724 11.4569L4.48276 12.5431ZM5 12.75H19V11.25H5V12.75Z" fill="currentColor"/>
              </svg>
              <span class="backTo">{{ "modules.challenge.backTo" | translate }}</span>
          </a>
          <div class="breadcrumb">{{ "modules.challenge.challengeForm.breadcrumb" | translate }}</div>
          <h3 class="form-title">{{ "modules.challenge.challengeForm.title" | translate }}</h3>
        </div>
        <div class="button-group">
          <button type="button" class="btn btn-sm btn-outline-primary" (click)="onCancel()">{{ "modules.challenge.challengeForm.buttonCancel" | translate }}</button>
          <button type="button" class="btn btn-sm btn-primary" [disabled]="!isFormValid()" (click)="onSubmit()">
            {{ "modules.challenge.challengeForm.buttonPublish" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="body">
      <form #challengeForm="ngForm">
        <!-- INFORMACIÓN GENERAL -->
        <div class="section">
          <h4><span class="section-number">1</span> {{ "modules.challenge.challengeForm.generalInfo" | translate }}</h4>
          <div class="form-group">
            <label for="title" class="form-label">{{ "modules.challenge.challengeForm.challengeTitle" | translate }}</label>
            <input 
              type="text" 
              class="form-control" 
              id="title" 
              name="challengeTitle"
              [(ngModel)]="challenge.challengeTitle" 
              required
            >
          </div>

          <!-- Lenguaje -->
          <div class="mb-4">
            <label class="form-label">{{ "modules.challenge.challengeForm.language" | translate }}</label>
            <div class="language-buttons">
              @for (lang of languages; track lang.language_name) {
                <button 
                  type="button" 
                  class="btn-outline-secondary" 
                  [class.active]="challenge.language === lang.language_name"
                  (click)="onLanguageChange(lang.language_name)">
                  <img 
                    [src]="lang.language_image" 
                    alt="{{ lang.language_name }}" 
                    width="16" 
                    height="16">
                  {{ lang.language_name }}
                </button>
              }
            </div>
          </div>
        </div>

        <!-- CONTENIDO DEL RETO -->
        <div class="section">
          <h4><span class="section-number">2</span> {{ "modules.challenge.challengeForm.challengeContent" | translate }}</h4>
          <div class="form-group">
            <label for="description" class="form-label">{{ "modules.challenge.challengeForm.statement" | translate }}</label>
            <div class="editor-container">
              <editor
                [(ngModel)]="challenge.description"
                name="description"
                [init]="editorConfig"
                required
              ></editor>
            </div>
          </div>

          <!-- Solución con CodeMirror -->
          <div class="form-group">
            <label class="form-label">{{ "modules.challenge.challengeForm.solution" | translate }}</label>
            <div #codeMirrorEditor class="codemirror-container"></div>
          </div>
        </div>

        <!-- INFORMACIÓN ADICIONAL -->
        <div class="section">
          <h4><span class="section-number">3</span> {{ "modules.challenge.challengeForm.additionalInfo" | translate }}</h4>
          <div class="form-group mb-4">
            <label class="form-label">{{ "modules.challenge.challengeForm.difficulty" | translate }}</label>
            <div class="difficulty-group">
              <!-- Fácil -->
              <div class="difficulty-option">
                <input 
                  type="radio" 
                  class="form-check-input visually-hidden" 
                  id="easy" 
                  name="level" 
                  value="EASY"
                  [(ngModel)]="challenge.level">
                <label class="difficulty-label" for="easy">
                  <div class="radio-circle" [class.selected]="challenge.level === 'EASY'"></div>
                  <div class="lightning-group">
                    <img src="assets/img/icon/difficulty-on.svg" alt='{{ "modules.challenge.challengeForm.easy" | translate }}'>
                    <img src="assets/img/icon/difficulty-off.svg" alt='{{ "modules.challenge.challengeForm.easy" | translate }}'>
                    <img src="assets/img/icon/difficulty-off.svg" alt='{{ "modules.challenge.challengeForm.easy" | translate }}'>
                  </div>
                  <span>{{ "modules.challenge.challengeForm.easy" | translate }}</span>
                </label>
              </div>

              <!-- Medio -->
              <div class="difficulty-option">
                <input 
                  type="radio" 
                  class="form-check-input visually-hidden" 
                  id="medium" 
                  name="level" 
                  value="MEDIUM"
                  [(ngModel)]="challenge.level">
                <label class="difficulty-label" for="medium">
                  <div class="radio-circle" [class.selected]="challenge.level === 'MEDIUM'"></div>
                  <div class="lightning-group">
                    <img src="assets/img/icon/difficulty-on.svg" alt='{{ "modules.challenge.challengeForm.medium" | translate }}'>
                    <img src="assets/img/icon/difficulty-on.svg" alt='{{ "modules.challenge.challengeForm.medium" | translate }}'>
                    <img src="assets/img/icon/difficulty-off.svg" alt='{{ "modules.challenge.challengeForm.medium" | translate }}'>
                  </div>
                  <span>{{ "modules.challenge.challengeForm.medium" | translate }}</span>
                </label>
              </div>

              <!-- Difícil -->
              <div class="difficulty-option">
                <input 
                  type="radio" 
                  class="form-check-input visually-hidden" 
                  id="hard" 
                  name="level" 
                  value="HARD"
                  [(ngModel)]="challenge.level">
                <label class="difficulty-label" for="hard">
                  <div class="radio-circle" [class.selected]="challenge.level === 'HARD'"></div>
                  <div class="lightning-group">
                    <img src="assets/img/icon/difficulty-on.svg" alt='{{ "modules.challenge.challengeForm.hard" | translate }}'>
                    <img src="assets/img/icon/difficulty-on.svg" alt='{{ "modules.challenge.challengeForm.hard" | translate }}'>
                    <img src="assets/img/icon/difficulty-on.svg" alt='{{ "modules.challenge.challengeForm.hard" | translate }}'>
                  </div>
                  <span>{{ "modules.challenge.challengeForm.hard" | translate }}</span>
                </label>
              </div>
            </div>
          </div>
          @if (currentTags.length > 0) {
          <div class="form-group mb-4">
            <label class="form-label">{{ "modules.challenge.challengeForm.tags" | translate }}</label>
            <div class="tags-group">
              @for (tag of currentTags; track tag.id_tag) {
                <button 
                  type="button" 
                  class="tag-button"
                  [class.active]="isTagSelected(tag.id_tag)"
                  (click)="onTagSelect(tag.id_tag)"
                  [title]="tag.tag_description">
                  {{ tag.tag_name }}
                </button>
              }
            </div>
          </div>
          }
        </div>
      </form>
    </div>
  </div>
