<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle d-flex align-items-center gap-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="assets/img/icon/sort-selected.svg" [style.transform]="isAscending ? 'rotate(180deg)' : ''" alt="sort">
    {{ currentSortLabel | translate }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end p-0">
    <!-- Criteria -->
     <!--Popularity-->
    <li>
      <button class="dropdown-item d-flex align-items-center gap-2" 
              [class.active]="sortBy === 'popularity'"
              (click)="selectSort('popularity')">
        <img src="assets/img/icon/times-performed.svg" alt="popularity" class="icon">
        {{ 'modules.starter.main.section3.popularity' | translate }}
      </button>
    </li>
    <li>
      <button class="dropdown-item d-flex align-items-center gap-2" 
              [class.active]="sortBy === 'creation_date'"
              (click)="selectSort('creation_date')">
        <img src="assets/img/icon/date.svg" alt="date" class="icon">
        {{ 'modules.starter.main.section3.date' | translate }}
      </button>
    </li>
    <!-- Likes -->
    <li>
      <button class="dropdown-item d-flex align-items-center gap-2" 
              [class.active]="sortBy === 'likes'"
              (click)="selectSort('likes')">
        <img src="assets/img/icon/heart.svg" alt="likes" class="icon">
        {{ 'modules.starter.main.section3.likes' | translate }}
      </button>
    </li>
    
    <!-- Difficulty -->
    <li>
      <button class="dropdown-item d-flex align-items-center gap-2" 
              [class.active]="sortBy === 'difficulty'"
              (click)="selectSort('difficulty')">
        <img src="assets/img/icon/difficulty-off-gray.svg" alt="difficulty" class="icon">
        {{ 'modules.starter.main.section3.difficulty' | translate }}
      </button>
    </li>
    
    <li><hr class="dropdown-divider my-1"></li>

    <!-- Order -->
    <li>
      <button class="dropdown-item d-flex align-items-center justify-content-between" 
              (click)="selectOrder(true)">
        <img *ngIf="isAscending" src="assets/img/icon/tick-pink.svg" alt="selected">
              <div class="d-flex align-items-center gap-2">
                <img src="assets/img/icon/sort-selected.svg" style="transform: rotate(180deg);" alt="asc" class="icon">
                {{ 'modules.starter.main.section3.ascending' | translate }} 
              </div>
      </button>
    </li>
    <li>
      <button class="dropdown-item d-flex align-items-center justify-content-between" 
              (click)="selectOrder(false)"> <img *ngIf="!isAscending" src="assets/img/icon/tick-pink.svg" alt="selected">
              <div class="d-flex align-items-center gap-2">
                <img src="assets/img/icon/sort-selected.svg" alt="desc" class="icon">
                {{ 'modules.starter.main.section3.descending' | translate }} 
              </div>
       
      </button>
    </li>
  </ul>
</div>
