<div class="form">
    <p class="font-weight-bold">Lenguaje</p>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" id="checkJs" name="javaScript" value="javaScript">
        <label class="form-check-label">Javascript</label>
    </div>
    <div class="form-check">
        <input class="form-check-input check" type="checkbox" id="checkJava" name="java" value="java">
        <label class="form-check-label">Java</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkPhp" name="php" value="php">
        <label class="form-check-label">PHP</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkPython" name="python" value="python">
        <label class="form-check-label">Python</label>
    </div>
</div>
<div class="form">
    <p>Dificultad</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkFacil" name="facil" value="facil">
        <label class="form-check-label">Fácil</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkMedia" name="media" value="media">
        <label class="form-check-label">Media</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkDificil" name="dificil" value="dificil">
        <label class="form-check-label">Difícil</label>
    </div>
</div>
<div class="form">
    <p>Progreso</p>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkNoStarted" name="noStarted" value="noStarted">
        <label class="form-check-label">No empezados</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkStarted" name="started" value="started">
        <label class="form-check-label">Falta completar</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="checkFinished" name="finished" value="finished">
        <label class="form-check-label">Completados</label>
    </div>
</div>
