
<div class="modal-header align-items-center justify-content-end pb-0">
    <button class="close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close">
        <span></span>
        <span></span>
    </button>
</div>
<div class="d-flex flex-column justify-content-center">
    <div class="modal-body d-flex flex-column gap-3 pt-0 col-9  mx-auto text-center">
        <h2 class="modal-title">{{ 'modules.modals.solution.title' | translate }} </h2>
        <p>{{ 'modules.modals.solution.description_showSolution' | translate }}</p>
    </div>
    <div class="col-12 modal-footer gap-2 mb-3 text-center d-flex flex-column">
        <button type="submit" class="btn btn-primary col-4" (click)="mentorSolutionShowed()">{{ 'modules.modals.solution.btn-accept' | translate }}</button>
        <button  type="button" class="btn col-4" (click)="closeModal()">{{ 'modules.modals.solution.btn-cancel' | translate }}</button>
    </div>
</div>