<!---Nav tabs-->
<ul
  ngbNav
  #nav="ngbNav"
  [(activeId)]="activeId"
  class="nav-tabs d-none d-md-flex"
  [ngClass]="{'no-tabs': challengeStarted}"
>
  <!--DETAILS TAB-->

  <li [ngbNavItem]="challengeTab.DETAILS" (click)="onActiveIdChange(challengeTab.DETAILS)">
    <a href="#details" ngbNavLink *ngIf="isChallengeTabVisible(challengeTab.DETAILS)">{{
      "modules.challenge.info.detailsTitle" | translate
    }}</a>
    <ng-template ngbNavContent>
      <div class="tab-content w-100">
        <!-- show statement / mostrar enunciado -->
        <div class="d-block btn-row text-end mb-3" *ngIf="!isAdmin && challengeStarted">
          <span class="right-span d-inline-flex">
            <input
              type="checkbox"
              name="checkbox"
              [(ngModel)]="isChallengeStatementVisible"
            />
            <label class="ms-1">{{
              "modules.challenge.info.isChallengeStatementVisible" | translate
            }}</label>
          </span>
        </div>
        
        <div class="details-body d-flex w-100" [ngClass]="{'side-by-side': isChallengeStatementVisible && isEditorChallengeVisible}">
          <div *ngIf="!challengeStarted || isChallengeStatementVisible" class="details-text">
            <div class="pb-1">
              <h3 class="mt-0">
                {{ "modules.challenge.info.description" | translate }}
              </h3>
             <p [innerHTML]="safeDescription"></p>

            </div>

            <!-- Examples -->
            <div class="pb-1">
              <h3>{{ "modules.challenge.info.examples" | translate }}</h3>
              <ul>
                <ng-container *ngFor="let example of examples">
                  <li class="mb-1" *ngIf="example.example_text">
                    {{ example.example_text | dynamicTranslate }}
                  </li>
                </ng-container>
              </ul>
            </div>

            <!-- Notes -->
            <div class="pb-1">
              <h3>{{ "modules.challenge.info.notes" | translate }}</h3>
              <p>{{ notes | dynamicTranslate }}</p>
            </div>
          </div>

          <div class="editor-section" *ngIf="isEditorChallengeVisible">
            <app-editor-challenge [isEditorChallengeVisible]="isEditorChallengeVisible"></app-editor-challenge>
          </div>
        </div>
      </div>
    </ng-template>
  </li>

  <!--SOLUTIONS TAB-->

  <li *ngIf="isAdmin" [ngbNavItem]="challengeTab.SOLUTIONS" (click)="onActiveIdChange(challengeTab.SOLUTIONS)">
    <a href="#solutions" ngbNavLink>{{ "modules.challenge.info.solutionsTitle" | translate }}</a>
    <ng-template ngbNavContent>

      <div class="tab-content w-100">

        <ng-container *ngIf="challengeSolutions && challengeSolutions.length > 0">
          <ng-container *ngFor="let solution of challengeSolutions; let i = index">
            <app-solution
              [number]="i + 1"
              class="mb-4 solution-container"
              [solution_text]="solution.solution_text"
            >
            </app-solution>
          </ng-container>
        </ng-container>
  
        <div *ngIf="challengeSolutions?.length === 0">
          <p>{{ "modules.challenge.info.noSolutions" | translate }}</p>
        </div>
      </div>
    </ng-template>
  </li>

  <li *ngIf="!isAdmin" [ngbNavItem]="challengeTab.SOLUTIONS" (click)="onActiveIdChange(challengeTab.SOLUTIONS)">
    <a href="#solutions" ngbNavLink *ngIf="isChallengeTabVisible(challengeTab.SOLUTIONS)">{{
      "modules.challenge.info.solutionsTitle" | translate
    }}</a>
    <ng-template ngbNavContent>
      <div class="tab-content w-100">

        <div class="restricted" *ngIf="!solutionSent">
          <h3>
            {{ "modules.challenge.info.solutionsTitle" | translate }}
          </h3>
          <span class="lock">
            <img src="assets/img/icon/lock.svg" alt="lock icon" />
            <p>
              {{ "modules.challenge.info.solutionsLocked" | translate }}
            </p>
          </span>
        </div>

        <div class="unrestricted" *ngIf="solutionSent">
          <div class="solution-container gap-5">
            <div class="user-solution" *ngIf="userSolution">
              <app-solution
                [number]="1"
                [isUserSolution]="true"
                class="mb-4"
                [solution_text]="userSolution.solution_text"
              >
              </app-solution>
            </div>

            <div class="official-solution" *ngIf="challengeSolutions.length > 0">
              <app-solution
                [number]="2"
                class="mb-4"
                [solution_text]="challengeSolutions[0].solution_text"
              >
              </app-solution>
            </div>
        </div>
        </div>
      </div>

      <!-- Si no se ha enviado una solución, mostrar el botón para enviarla -->
      <div class="w-100 mt-4 d-md-none" *ngIf="!solutionSent">
        <button
          class="w-100 btn btn-primary"
          (click)="clickSendButton()"
          title="{{ 'modules.challenge.header.toolTip' | translate }}"
        >
          {{ "modules.challenge.header.button" | translate }}
        </button>
      </div>

      <!-- Si la solución no ha sido enviada, mostrar las opciones de cancelación y aceptación -->
      <div class="w-100 button d-md-none" *ngIf="solutionSent">
        <button class="w-100 btn btn-sm btn-outline-primary">
          {{ "modules.challenge.header.buttonCancel" | translate }}
        </button>
        <button
          class="w-100 btn btn-sm btn-primary mt-2 mt-md-0"
          (click)="openSendSolutionModal()"
        >
          {{ "modules.challenge.header.buttonAccept" | translate }}
        </button>
      </div>

      <!-- Si la solución fue enviada, mostrar un mensaje de confirmación -->
      <div
        class="solutionSent w-100 d-flex d-md-none justify-content-center"
        *ngIf="solutionSent"
      >
        <p>{{ "modules.challenge.header.solutionSend" | translate }}</p>
        <img src="assets/img/icon/tick-pink.svg" alt="tick icon" />
      </div>
    </ng-template>
  </li>

  <li [ngbNavItem]="challengeTab.RESOURCES" (click)="onActiveIdChange(challengeTab.RESOURCES)">
    <a href="#resources" ngbNavLink *ngIf="isChallengeTabVisible(challengeTab.RESOURCES)">{{
      "modules.challenge.info.resourcesTitle" | translate
    }}</a>
    <ng-template ngbNavContent>
      <!--RESOURCES TAB-->
      <div class="tab-content w-100">
        <h3>{{ "modules.challenge.info.resourcesTitle" | translate }}</h3>
        <section class="info-card d-flex flex-column gap-3">
          <p>{{ "modules.challenge.info.noResources" | translate }} </p>
        </section>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="challengeTab.RELATED" class="related" (click)="onActiveIdChange(challengeTab.RELATED)">
    <a href="#related" ngbNavLink *ngIf="isChallengeTabVisible(challengeTab.RELATED)">{{
      "modules.challenge.info.relatedTitle" | translate
    }}</a>
    <ng-template ngbNavContent>
      <!--RELATED TAB-->
      <div class="tab-content w-100">
        <h3>{{ "modules.challenge.info.related" | translate }}</h3>
        
        <!-- Display related challenges when available. By now this
          is a temporary mocked solution for demo purposes -->
        <section *ngIf="relatedChallenges && relatedChallenges.length > 0" class="info-card">
          <div class="d-flex flex-column gap-3">
            <app-challenge-card *ngFor="let challenge of relatedChallenges"
              [title]="challenge.challenge_title | dynamicTranslate" 
              [creation_date]="challenge.creation_date"
              [level]="challenge.level" 
              [popularity]="challenge.popularity" 
              [languages]="challenge.languages"
              [id]="challenge.id_challenge" 
              [favorites_count]="challenge.favorites_count || 0">
            </app-challenge-card>
          </div>
        </section>
        
        <!-- Show placeholder when no related challenges are found -->
        <section *ngIf="!relatedChallenges || relatedChallenges.length === 0" class="info-card d-flex flex-column gap-3">
          <p>{{ "modules.challenge.info.noResources" | translate }} </p>
        </section>
      </div>
    </ng-template>
  </li>
</ul>
<!-- Dropdown Menu for Mobile View -->
<div class="dropdown-menu-mobile d-md-none">
  <button
    class="btn btn-primary dropdown-toggle w-100"
    (click)="toggleDropdown()"
  >
    {{ getTranslatedTabLabel() | translate }}
  </button>

  <div class="dropdown-menu" [ngClass]="{ show: isDropdownOpen }">
    <button
      class="dropdown-item"
      (click)="selectTab(challengeTab.DETAILS)"
      *ngIf="isChallengeTabVisible(challengeTab.DETAILS)"
    >
      {{ "modules.challenge.info.detailsTitle" | translate }}
    </button>
    <button
      class="dropdown-item"
      (click)="selectTab(challengeTab.SOLUTIONS)"
      *ngIf="isChallengeTabVisible(challengeTab.SOLUTIONS)"
    >
      {{ "modules.challenge.info.solutionsTitle" | translate }}
    </button>
    <button
      class="dropdown-item"
      (click)="selectTab(challengeTab.RESOURCES)"
      *ngIf="isChallengeTabVisible(challengeTab.RESOURCES)"
    >
      {{ "modules.challenge.info.resourcesTitle" | translate }}
    </button>
    <button
      class="dropdown-item"
      (click)="selectTab(challengeTab.RELATED)"
      *ngIf="isChallengeTabVisible(challengeTab.RELATED)"
    >
      {{ "modules.challenge.info.relatedTitle" | translate }}
    </button>
  </div>
</div>

<div [ngbNavOutlet]="nav" class="tab-content mt-2"></div>
<!--Nav panes-->
