@import "src/styles/colors";
@import "src/styles/fonts";

.nav{
    border-bottom:  5px solid $gray-4;
    margin-top: 2rem;
    padding: 0;
    border-radius: 2px;
}
.nav-link{
    color: $gray-3;
    border-top: #ffff;
    border-left: #ffff;
    border-right: #ffff;
    border-bottom: 5px solid transparent;
}
.nav-link.active{
    border: none;
    border-bottom: 5px solid $primary;
    color: $black-3;
}
.tab-content{
    margin-top: 3rem;
    width: 75%;

}
.title{
    display: flex;
}
.title_link{
    color: $primary;
    text-decoration: none;
    font-weight: bold;
    align-self: center ;
    padding: 1.5rem;
}