@import "src/styles/colors";
@import "src/styles/fonts";

.nav{
    border-bottom:  5px solid $gray-4;
    margin-top: 2rem;
    padding: 0;
    border-radius: 2px;
}
.nav-link{
    color: $gray-3;
    border-top: #ffff;
    border-left: #ffff;
    border-right: #ffff;
    border-bottom: 5px solid transparent;
}
.nav-link.active{
    border: none;
    border-bottom: 5px solid $primary;
    color: $black-3;
    font-weight: bold;
}
.tab-content{
    margin-top: 3rem;
    width: 75%;
}

.title{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}
.title_link{
    color: $primary;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1.5rem;
    padding-top: .23rem;
}
.title_text{
    margin-top: 0;
}
.lock{
    display: flex;
    align-items: center;
}
.lock img{   
    margin:0 .2rem .3rem 0;
}