@import "src/styles/colors";
@import "src/styles/fonts";

.nav {
  border-bottom: 5px solid $gray-4;
  margin-top: 2rem;
  padding: 0;
  border-radius: 2px;
  
  &.no-tabs {
    border-bottom: none;
  }
}

.nav-item {
  margin: -.2rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  color: $gray-3;
  border: 0 solid transparent;
  border-bottom-width: 5px;
}
.nav-link:hover {
  border-bottom-color: $gray-2;
}
.nav-link.active {
  border-bottom-color: $primary;
  color: $black-1;
  font-weight: 600;
}

.tab-content {
  margin-top: 3rem;
  width: 100%;
  max-width: 100%;
}

.title {
  margin: 0;
  padding: 0;
  display: flex;
}

.title_link {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1.5rem;
  padding-top: .23rem;
}

.info-card {
  width: 80%;
}

.side-by-side {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.details-body {
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  
  &.side-by-side {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    
    .details-text {
      flex: 0 0 50%;
      max-width: 50%;
      overflow-y: auto;
      max-height: 80vh;
      padding-right: 1rem;
    }
    
    .editor-section {
      order: 1;
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
    }
  }
}

.details-body .details-text {
  order: 1;
}
.details-body app-solution {
  order: 2;
  flex-basis: 100%;
}

.solution-container{
  width: 50%;
  max-width: 500px;
  margin-left: 0;
  margin-right: auto;
}

.lock {
  display: flex;
  align-items: center;
}
.lock img {
  margin: 0 .2rem .3rem 0;
}

button.btn.btn-primary.send-solution {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .6rem 3rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  cursor: pointer;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
  border: 2px solid $primary;
  transform: translateY(0.15em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  background-color: $primary;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:focus-visible {
  outline: 0;
}

h3 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 700;
  color: $black-3;
}

p, ul li {
  color: $black-3;
}


.editor-container {
  width: 100%;
  border: 1.5px solid #dadada;
}


@media screen and (max-width: 768px) {
  .details-body {
    flex-direction: column;
    
    &.side-by-side {
      flex-direction: column;
      
      .details-text, .editor-section {
        flex: 0 0 100%;
        max-width: 100%;
      }
      
      .details-text {
        order: 2;
      }
      
      .editor-section {
        order: 1;
        margin-bottom: 1.5rem;
      }
    }
  }
  .details-body .details-text {
    order: 2;
  }
  .details-body app-solution {
    order: 1;
  }

  :host {
    overflow-x: auto;
  }

  ul.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: none;
  }

  .nav-link {
    background-color: white;
    color: $gray-3;
    border: 1px solid $gray-3;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 10px 0 0;
    transition: 0.2s;
  }
  .nav-link.active, .nav-link:hover {
    background-color: $primary;
    color: white;
    border: 1px solid $primary;
    font-weight: bold;
  }

  .dropdown-menu-mobile {
    position: static;
    margin-bottom: 1rem;
  }
  .dropdown-menu-mobile .dropdown-toggle {
    background-color: #B91879;
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    width: 100%;
    margin-top: 40px;
  }
  .dropdown-menu-mobile .dropdown-toggle:hover {
    background-color: #97145f;
  }
  .dropdown-menu-mobile .dropdown-menu {
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 5px;
    padding: 0;
    display: block;
  }
  .dropdown-menu-mobile .dropdown-menu .dropdown-item {
    padding: 10px;
    color: #333;
    text-align: left;
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
  }
  .dropdown-menu-mobile .dropdown-menu .dropdown-item:hover {
    background-color: #B91879;
    color: white;
  }
}

@media screen and (max-width: 560px) {
  li.related {
    display: none;
  }
}

@media (max-width: 1024px) {
  .btn-send-solution {
    width: 321px;
    height: 63px;
  }
}

@media (max-width: 768px) {
  .info-card {
      width: 100%; 
  }

  .solution-container{
    width: 100%;
  }
  
}
