<!---Nav tabs-->
<ul class="nav nav-tabs">
    <li class="nav-item active">
        <a class="nav-link active" data-bs-toggle="tab" href="#details">Detalles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#solutions">Soluciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#resources">Recursos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#related">Relacionado</a>
    </li>
</ul>
<!--Nav panes-->
<div class="tab-content">
    <div class="tab-pane container show active" id="details" >
       <h3>Descripción</h3>
       <p>{{ description }}</p>
       <h3>Ejemplos</h3>
       <p *ngFor="let example of examples">{{ example.example_text}}</p>
       <h3>Notas</h3>
       <p>{{ notes}}</p>
    </div>
    <div class="tab-pane container fade" id="solutions"> 
        <h3>Las soluciones están bloqueadas</h3>
        <span class="lock">
            <img src="../../../../../assets/img/icon/lock.svg">
            <p>Las soluciones permanecerán bloqueadas hasta que entregues el reto</p>
        </span>
    </div>
    <div class="tab-pane container fade" id="resources">
        <section class="title">
            <h3 class="title_text">Recursos encontrados en ITA-Wiki</h3>
            <a class="title_link" href="#related">ir a ITA-Wiki ></a>
        </section>
        <app-resource *ngFor="let resource of resources"
            [author]="resource.author"
            [date]="resource.generation_date"
            [id]="resource.id_resource"
            [description]="resource.resource_description">
        </app-resource>
    </div>
    <div class="tab-pane container fade" id="related">
        <h3>Retos similares</h3>
        <app-challenge-related  *ngFor="let relate of related"[related]="relate"></app-challenge-related>   
    </div>
</div>
