<div class="d-flex starter">
  <!-- FILTERS -->
  <div id="filters-container" class="d-none d-xl-block col-3">
    <h2>{{ "modules.starter.main.section1" | translate }}</h2>
    <app-starter-filters (filtersSelected)="getChallengeFilters($event)"></app-starter-filters>
  </div>

  <!-- CHALLENGES -->
  <div id="challenges-container" class="col-12 col-xl-8">
    <div class="challenges-filter">
      <div class="d-flex justify-content-between align-items-center challenges-filter-header">
        <h2>{{ "modules.starter.main.section2.title" | translate }}</h2>
        <div class="d-flex gap-2 align-items-center">
          <button class="btn btn-outline-primary btnFiltrar d-xl-none" (click)="openModal()">
            <strong>Filtrar</strong>
          </button>
          <button [routerLink]="['/ita-challenge/challenges/new-challenge']" *ngIf="isAdmin" class="btn btn-sm btn-primary new-challenge-btn">
            {{ "components.mainMenu.section4.title" | translate }}
          </button>
        </div>
      </div>
    </div>

    <!-- SORT BY -->
    <ul id="sortBy" class="d-xl-flex justify-content-end d-none">
      <li class="animated"
        [ngClass]="{'selected' : sortBy == 'popularity', 'up': sortBy === 'popularity' && !isAscending}"
        (click)="changeSort('popularity')">
        {{'modules.starter.main.section2.popularity' | translate}}
      </li>
      <li class="animated"
        [ngClass]="{'selected' : sortBy == 'creation_date', 'up': sortBy === 'creation_date' && !isAscending}"
        (click)="changeSort('creation_date')">
        {{'modules.starter.main.section2.date' | translate}}
      </li>
    </ul>

    <!-- CHALLENGES CARD -->
    <div class="d-flex flex-column gap-3" id="challenges" #challenge>
      <app-challenge-card *ngFor="let challenge of challenges, let i = index"
        [title]="challenge.challenge_title  | dynamicTranslate" [creation_date]="challenge.creation_date"
        [level]="challenge.level" [popularity]="challenge.popularity" [languages]="challenge.languages"
        [id]="challenge.id_challenge" 
        [favorites_count]="challenge.timesFavorite || 0"
        [challenge_timesSolved]="challenge.timesSolved || timesSolved"
        [isFavorite]="isFavoriteChallenge(challenge.id_challenge)"
        [isBookmarked]="challenge.bookmarked">
      </app-challenge-card>
    </div>
  </div>
</div>
 <app-filters-modal #modal  (filtersSelected)="getChallengeFilters($event)"></app-filters-modal>
