@import '/src/styles/colors';
@import '/src/styles/buttons';
@import '/src/styles/fonts';

.starter {
  height: 100%;
}

h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
}

img[alt='filter-icon'] {
  cursor: pointer;
}

ul {
  list-style: none;
  
  li {
    display: flex;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: $gray-3;
    gap: 2px;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      background-image: url('/assets/img/icon/sort-selected.svg');
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
    }

    &.selected {
      color: $black-3;
      font-weight: 700;

      &::after {
        opacity: 1;

        &.up {
          transform: rotate(180deg);
        }
      }
    }

    &:not(.selected):hover {
      color: $primary;
    }
  }
}

app-starter-filters p {
  font-size: 16px;
  line-height: 34px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h2 {
    margin: 0.5rem 0 1rem;
  }
}

#filters-container {
  position: sticky;
  top: 40px;
  height: 100%;
  overflow-y: auto;
}

#challenges-container {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#challenges {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#challenges::-webkit-scrollbar {
  width: 0;
  height: 0;
}

app-pagination {
  flex-shrink: 0;
  padding: 10px 0;
}
