<div class="difficulty-level">
  <img src="assets/img/icon/difficulty-on-gray.svg" alt="Difficulty" />
  @if (level === 'MEDIUM' || level === 'HARD') {
    <img src="assets/img/icon/difficulty-on-gray.svg" alt="Difficulty" />
  } @else {
    <img src="assets/img/icon/difficulty-off-gray.svg" alt="Difficulty" />
  }
  @if (level === 'HARD') {
    <img src="assets/img/icon/difficulty-on-gray.svg" alt="Difficulty" />
  } @else {
    <img src="assets/img/icon/difficulty-off-gray.svg" alt="Difficulty" />
  }
</div>
