/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/buttons';
@import 'styles/forms';
@import 'styles/modals';
@import 'styles/global';
@import 'styles/fonts';



html,
body {
    min-height: 100vh;
    background-color: $gray-4;
}
body {
    margin: 0;
    padding: 30px 10px 50px;
    font-family: "Poppins", sans-serif;
    app-root,
    app-main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
main{
    min-height: calc(100vh - 80px)!important;
}