/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/buttons';
@import 'styles/forms';
@import 'styles/modals';
@import 'styles/global';
@import 'styles/fonts';



html,
body {
    min-height: 100vh;
    background-color: $gray-4;
    margin: 0;
    padding: 12px 10px 50px;
    font-family: "Poppins", sans-serif;
    app-root,
    app-main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
}