/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@import 'styles/buttons';
@import 'styles/forms';
@import 'styles/modals';
@import 'styles/global';
@import 'styles/fonts';

html,
body {
  height: 100%;
  background-color: $gray-4;
  margin: 0;
  padding: 12px 10px 40px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  app-root,
  app-main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  app-main {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    padding: 0;
  }
}
