@import 'src/styles/_fonts';

:host{
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
}

.solution-header{
    border-bottom: 1px solid black;
    font-size: $font-size-lg;
    font-weight: bold;
    padding: 5px 16px;
    min-height: 46px;
}

.solution-body{
    padding: 16px;
}